<!doctype html>
<html lang="en" ng-app="rddcApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Create a new Dot</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-controller="RddcController" style="padding-top: 70px;">

  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Create a new dot</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->

    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <!--<h1>{a data.title a}</h1>-->

    <form name="userForm" novalidate ng-submit="userForm.$valid && submit()">
      <div class="row">
        <div class="col-md-4">
          <md-input-container>
            <label>Eval for:</label>
            <md-select ng-model="data.target" required>
              <md-option ng-repeat="item in data.team" ng-value="item">{a item a}</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>

      <div class="row">
        <md-radio-group ng-model="data.eval" class="md-primary" required>
          <div ng-repeat="(k, cat) in data.cats">
            <!--<div ng-class="k % 3 == 0 ? 'row' : 'blub'">-->
            <div class="col-md-4">
              <p><strong>{a cat.header a}</strong></p>
              <md-radio-button ng-repeat="c in cat.choices" ng-value="c">
                {a c a}
              </md-radio-button>
              <hr />
            </div>
            <!--</div>-->
          </div>
        </md-radio-group>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div flex="10" layout layout-align="center center">
            <span class="md-body-1">RATING</span>
          </div>
          <md-slider flex class="md-primary" md-discrete ng-model="data.rating" step="1" min="1" max="5" aria-label="rating" required>
          </md-slider>
        </div>

        <div class="col-md-4">
          <div flex="10" layout layout-align="center center">
            <span class="md-body-1">IMPORTANCE</span>
          </div>
          <md-slider flex md-discrete ng-model="data.importance" step="1" min="1" max="5" aria-label="importance" required>
          </md-slider>
        </div>

      </div>

      <div class="row">
        <md-button type="submit" class="md-raised">Submit</md-button>
      </div>
    </form>
  </div>


  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
